@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2') format('woff2'),
        url('https://rsms.me/inter/font-files/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('https://rsms.me/inter/font-files/Inter-Bold.woff2') format('woff2'),
        url('https://rsms.me/inter/font-files/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('https://rsms.me/inter/font-files/Inter-Black.woff2') format('woff2'),
        url('https://rsms.me/inter/font-files/Inter-Black.woff') format('woff');
}
