@import './figma/constants';

// Colors
$color-primary-main: #ffedf3;
$color-primary-dark: #f0d1dc;
$color-secondary-main: #222222;
$color-secondary-dark: #000000;

// Spacers
$xxs-space: 2px;
$xs-space: 4px;
$s-space: 8px;
$m-space: 16px;
$l-space: 20px;
$xl-space: 28px;
$xxl-space: 36px;

// Easing
$default-transition: 0.1s ease;
$middle-transition: 0.2s ease;
