@import './figma/constants';

// Colors
$color-primary-main: #ccffde;
$color-primary-dark: #a7f3c1;
$color-secondary-main: rgb(34, 34, 34);
$color-secondary-dark: rgb(0, 0, 0);

// Spacers
$xxs-space: 2px;
$xs-space: 4px;
$s-space: 8px;
$m-space: 16px;
$l-space: 20px;
$xl-space: 28px;
$xxl-space: 36px;

// Easing
$default-transition: 0.1s ease;
$middle-transition: 0.2s ease;
