@import './tokens';

*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

*::selection {
    background-color: lighten($color: $color-pink-dark, $amount: 10);
}

body {
    font: 12px sans-serif;
    text-align: center;
    margin: 0;
}
