.caption {
    user-select: none;
    font-family: 'Inter', sans-serif;
    line-height: 140%;
    text-align: left;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    color: var(--clr-caption);
}
