.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: var(--color-gray-4);
}

.itemWrap {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-xxs);
}

.nestedSign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 28px;
    margin-right: 2px;
    transition: all var(--transition-default);
    border-radius: var(--radius-l);
    &:hover {
        background-color: var(--color-gray-5);
    }
}

////

.checkboxWrap {
    display: flex;
    user-select: none;
    padding: 6px;
    border-radius: var(--radius-l);
    transition: all var(--transition-fast);
    height: 28px;
    &:hover {
        background-color: var(--color-gray-5);
        .checkbox {
            border: 2px solid var(--color-accent-main);
        }
    }
}

.checkbox {
    position: relative;
    pointer-events: none;
    width: 16px;
    height: 16px;
    border-radius: var(--radius-m);
    border: 2px solid var(--color-black);
    transition: all var(--transition-default);
    background-color: var(--color-white);
    i {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    svg {
        opacity: 0;
        fill: var(--color-white);
    }
    &.checked {
        border: 2px solid var(---color-accent-main);
        background-color: var(--color-accent-main);
        svg {
            opacity: 1;
        }
    }
}

.label {
    pointer-events: none;
    color: var(--color-black);
    font-size: 12px;
    font-weight: 700;
    margin-left: 8px;
}
