@import '../../../../../styles/tokens';

.wrap {
    background-color: $color-secondary-main;
    padding: $xs-space * 3 $l-space;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
}

.infoIcon {
    width: 18px;
    height: 22px;
    margin-right: $m-space;
    background-color: $color-primary-main;
    border-radius: 2px;
}

.text {
    color: $color-white;
    span {
        font-weight: bold;
    }
}
