@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.wrap {
    display: flex;
    input[type='checkbox'] {
        display: none;
    }
    label {
        padding-left: 34px;
        line-height: 1.3;
        display: inline-block;
        position: relative;
    }
    input[type='checkbox'] + label:before {
        content: '';
        display: block;
        width: 24px;
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color-black-80;
        background: transparent;
        border-radius: 50px;
        transition: all $middle-transition;
        &:checked + label:before {
            background: $color-black-80;
        }
    }
    input[type='checkbox'] + label:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color-black-80;
        background: transparent;
        border-radius: 50px;
        transition: all $middle-transition;
        &:checked + label:after {
            left: 12px;
        }
    }
}
