@import '../../../styles/tokens';

.header {
    display: flex;
}

.title {
    font-size: 15px;
    font-weight: 900;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: $space-m;
}

.additions {
    display: flex;
}
