@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.button {
    @include text-11-regular;
    outline: none;
    border: none;
    border-radius: $border-radius-6;
    padding: ($xs-space + $xs-space) ($s-space + $s-space);
    transition: background-color 0.08s ease-in-out;
    display: flex;
    align-items: center;
}

.blue {
    background-color: $color-blue-main;
    color: $color-white;
    &:hover {
        background-color: $color-blue-dark;
    }
}
