@import '../../../styles/tokens';

.button {
    user-select: none;
    outline: none;
    border: none;
    border-radius: $radius-l;
    padding: 0 $space-s + $space-xxs;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    transition: all $transition-default;

    span {
        pointer-events: none;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
    }

    i {
        transform: translateX($space-s);
        margin-right: $space-xs;
    }
}

.fileButton {
    input {
        display: none;
    }
}

.primary {
    background-color: $color-secondary-main;
    color: $color-white;
    &:hover {
        background-color: $color-secondary-dark;
    }

    svg {
        fill: $color-white;
    }
}

.ghost-dark {
    background-color: transparent;
    border: 1px solid $color-black;
    color: $color-black;
    &:hover {
        border: 1px solid $color-black;
        color: $color-black;
    }

    svg {
        fill: $color-black;
    }
}

.ghost-light {
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    &:hover {
        border: 1px solid $color-white;
        color: $color-white;
    }

    svg {
        fill: $color-white;
    }
}
