@import url('https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap');

////////// COLORS //////////
////////////////////////////
$color-primary-main: #e7fafa;
$color-primary-dark: #c1ecec;
$color-secondary-main: #222222;
$color-secondary-dark: #000000;

////////// SIZES ///////////
////////////////////////////
$xs: 8px;
$s: 16px;
$m: 20px;
$l: 32px;
$xl: 48px;

/////// SCREEN SIZES ///////
////////////////////////////
$desktop: 1020px;
$tablet: 768px;
$mobile: 400px;

///////// GENERAL //////////
////////////////////////////
* {
    box-sizing: border-box;
    border-collapse: collapse;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: $color-primary-main;
    font-family: 'Archivo', sans-serif;
}

a {
    color: #f45;
    transition: all 0.16s ease;
    &:hover {
        color: $color-secondary-main;
        text-decoration: none;
    }
}

*::selection {
    background-color: $color-primary-dark;
}

.hr-line {
    height: 25px;
    background-image: url(../img/hr.svg);
    border: none;
    margin: $xl 0;
}

///////// SPECIFIC /////////
////////////////////////////

.wrap {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 60px;
    @media screen and (max-width: $tablet) {
        padding: 0 40px;
    }
    @media screen and (max-width: $mobile) {
        padding: 0 24px;
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: $m;
    }
    &__title {
        margin: $m * 4 0 $m * 3;
        position: relative;
        z-index: 999;
        font-size: calc(20px + 12vw);
        line-height: 90%;
        color: $color-secondary-main;
        @media screen and (min-width: $desktop) {
            font-size: 140px;
        }
        @media screen and (max-width: $tablet) {
            margin: $m * 2 0 $m * 2;
        }
        @media screen and (max-width: $mobile) {
            margin: $m * 2 0 $m * 2;
        }
        sup {
            top: -1.2em;
            left: 0.1em;
            font-size: 30%;
        }
    }
    &__mask {
        height: 260px;
        margin-right: 32px;
        transform: translateY(10px);
        @media screen and (max-width: $tablet) {
            height: calc(260px / 1.3);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
    &__cover-img {
        max-width: 100%;
        background: linear-gradient(89.94deg, #000000 43.24%, #ffffff 57.29%);
        margin-bottom: 40px;
    }
    &__description {
        font-size: 26px;
        max-width: 520px;
        line-height: 1.3;
        @media screen and (max-width: $tablet) {
            font-size: 22px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 18px;
        }
    }
    &__copyright {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.4);
        margin: $m 0 $xl;
    }
    &__youtube-video {
        margin-top: 32px;
        iframe {
            width: 100%;
            height: 480px;
        }
    }
    &__donate {
        color: $color-secondary-main;
        h4 {
            font-size: 24px;
            max-width: 260px;
        }
    }
}

.btns-row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    cursor: pointer;
    padding: $m $m * 1.4;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.1s ease;
    &_primary {
        color: white;
        background: $color-secondary-main;

        &:hover {
            color: white;
            background: $color-secondary-dark;
        }
    }
    &_secondary {
        color: $color-secondary-main;
        border: 2px solid $color-secondary-main;
        &:hover {
            color: $color-secondary-main;
            background: white;
        }
    }
}
