@import '../../../styles/tokens';

.wrap {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-black;
    padding: $l-space $m-space $xs-space;
    width: 100%;
}

.title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    margin: 0 0 $m-space 0;
}
