@import '../../../../../styles/tokens';

.wrap {
    background-color: $color-primary-main;
}

.buttonsWrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space-xs * 3;
    button {
        margin-right: $space-s;
        margin-bottom: $space-s;
    }
}
