@import '../../../../../styles/tokens';

.wrap {
    background-color: $color-primary-main;
}

.buttonsWrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $xs-space * 3;
    button {
        margin-right: $s-space;
        margin-bottom: $s-space;
    }
}
