@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-primary-main;
    padding: $l-space;
}

.head {
    display: flex;
    align-items: center;
    margin-top: $xxs-space;
    margin-bottom: $l-space + $xs-space;
}

.jsonMaskLogo {
    pointer-events: none;
    user-select: none;
    width: 62px;
    height: 82px;
    margin-right: $s-space + $xs-space;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 173px;
    height: 80px;
}

.buttonsSection {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: $s-space;

    > :first-child {
        margin-right: $xs-space + $xxs-space;
    }
}

.caption {
    @include text-11-regular;
    user-select: none;
    color: $color-black-60;
    text-align: left;
}

.copyLink {
    color: $color-black-80;
}
