@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-primary-main;
    padding: $l-space;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $xs-space;
    margin-bottom: $l-space + $s-space + $xxs-space;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 240px;
    height: 82px;
    margin-right: $s-space;
}

.buttonsSection {
    display: flex;
    flex-direction: column;
    margin-bottom: $s-space;

    > :first-child {
        margin-bottom: $xs-space + $xxs-space;
    }
}

.caption {
    @include text-12-regular;
    user-select: none;
    color: $color-black-50;
    text-align: center;
}

.copyLink {
    color: $color-black-80;
}
