@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.wrap {
    background-color: $color-pink-main;
    padding: $l-space;
    background-repeat: no-repeat;
    background-size: 154px 204px;
    background-position: 109% -54px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 170px;
    height: 80px;
    margin-top: $s-space;
    margin-bottom: $l-space + $xs-space;
}

.buttonsSection {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: $s-space;

    > :first-child {
        margin-right: $xs-space + $xxs-space;
    }
}

.caption {
    @include text-11-regular;
    user-select: none;
    color: $color-black-80;
    text-align: left;
}
