.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--clr-white);
    padding: var(--l-space);
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--s-space);
    margin-bottom: calc(var(--l-space) + var(--s-space));
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 240px;
    height: 82px;
}

.buttonsSection {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--s-space);

    > :first-child {
        margin-bottom: var(--s-space);
    }
}

.caption {
    font-family: 'inter', sans-serif;
    user-select: none;
    color: var(--clr-black);
    text-align: center;
}
