@import url("https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  background: #ffd1ce;
  font-family: "Archivo", sans-serif; }

a {
  color: #4200ff;
  -webkit-transition: all 0.16s ease;
  -o-transition: all 0.16s ease;
  transition: all 0.16s ease; }
  a:hover {
    color: #ff7f76; }

.wrap {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 60px; }
  @media screen and (max-width: 768px) {
    .wrap {
      padding: 0 40px; } }
  @media screen and (max-width: 400px) {
    .wrap {
      padding: 0 24px; } }

.header {
  position: relative; }
  .header__title {
    margin: 80px 0 60px;
    position: relative;
    z-index: 999;
    font-size: calc(20px + 12vw);
    line-height: 90%;
    color: #0038ff; }
    @media screen and (min-width: 1020px) {
      .header__title {
        font-size: 140px; } }
    @media screen and (max-width: 768px) {
      .header__title {
        margin: 40px 0 40px; } }
    @media screen and (max-width: 400px) {
      .header__title {
        margin: 40px 0 40px; } }
    .header__title sup {
      top: -1.2em;
      left: 0.1em;
      font-size: 30%; }
  .header__promo-sign {
    position: absolute;
    top: -280px;
    right: -180px;
    width: 490px;
    height: 674px;
    background-image: url(../img/mask.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    @media screen and (max-width: 768px) {
      .header__promo-sign {
        width: calc(340px / 1.3);
        height: calc(624px / 1.3);
        right: -110px;
        top: -170px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 99; }
  .content__cover-img {
    max-width: 100%;
    background: -webkit-linear-gradient(0.06deg, #000000 43.24%, #ffffff 57.29%);
    background: -o-linear-gradient(0.06deg, #000000 43.24%, #ffffff 57.29%);
    background: linear-gradient(89.94deg, #000000 43.24%, #ffffff 57.29%);
    margin-bottom: 40px; }
  .content__description {
    font-size: 26px;
    max-width: 520px;
    line-height: 1.3; }
    @media screen and (max-width: 768px) {
      .content__description {
        font-size: 22px; } }
    @media screen and (max-width: 400px) {
      .content__description {
        font-size: 18px; } }
  .content__copyright {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    margin: 60px 0 60px; }
  .content__youtube-video {
    margin-top: 32px; }
    .content__youtube-video iframe {
      width: 100%;
      height: 480px; }

.btns-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.btn {
  cursor: pointer;
  padding: 20px 28px;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px; }
  .btn_primary {
    color: white;
    background: #0038ff;
    -webkit-transition: all 0.16s ease;
    -o-transition: all 0.16s ease;
    transition: all 0.16s ease; }
    .btn_primary:hover {
      color: white;
      background: #001e8a; }
  .btn_secondary {
    color: white;
    border: 2px solid white;
    -webkit-transition: all 0.16s ease;
    -o-transition: all 0.16s ease;
    transition: all 0.16s ease; }
    .btn_secondary:hover {
      background: white;
      color: #ff7f76; }
