@import '../../../styles/tokens';
@import '../../../styles/figma/styles';

.wrap {
    display: flex;
    input[type='radio'] {
        display: none;
    }
    label {
        padding-left: 22px;
        display: inline-block;
        position: relative;
        line-height: 1.3;
        color: $color-black-80;
    }
    input[type='radio'] + label:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $color-black-80;
        background: transparent;
        border-radius: 50px;
    }
    input[type='radio']:checked + label:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: $color-black-80;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 3px;
    }
}
