.head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--l-space) + var(--s-space));
}

.eyes {
    position: absolute;
    top: 55px;
    left: 33px;
    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: var(--clr-gray);
        width: 4px;
        height: 4px;
        border-radius: 100px;
    }
    &:after {
        left: 30px;
    }
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 240px;
    height: 110px;
}
