@import '../../../../../styles/tokens';

.wrap {
    h3 {
        margin-bottom: 0;
    }
}

.btnWrap {
    display: flex;
    margin-bottom: $l-space;
    button {
        margin-right: $s-space;
    }
}
