@import '../../../../../styles/tokens';

.wrap {
    h3 {
        margin-bottom: 0;
    }
}

.btnWrap {
    display: flex;
    margin-bottom: $space-l;
    button {
        margin-right: $space-s;
    }
}
