@import '../../../../../styles/tokens';
@import '../../../../../styles/figma/styles';

.wrap {
    padding-bottom: var(--m-space);
}

.btnWrap {
    display: flex;
    flex-wrap: wrap;
    button {
        margin-right: var(--s-space);
        margin-bottom: var(--s-space);
    }
}
